.aeon-green {
	color: #0a9d2f;
}

.cybran-red {
	color: #df2d0e;
}

.seraphim-yellow {
	color: #f1c240;
}

.uef-blue {
	color: #2d78b2;
}

.menu-text-yellow {
	color: #ffff77;
}

.menu-text-highlight {
	color: #000000;
}

.menu-background-highlight-blue {
	color: #adcdce;
}
